@charset "utf-8";
/* CSS Document */	
* {font-family: sans-serif;
				color: #333;
				text-align: center;}
			body {
				background-image: "back.jpg";
				width: 75%;
				margin: 0 auto;}
			#content {
				overflow: auto;
				text-align: center;}
			#nav, #footer {
				margin: 1%;}
			
			.image {
				text-align: center;

			}
			.image img{
				text-align: center;
			}
			.column1 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			ul {
				  list-style-type: none;
				  margin: 0;
				  padding: 0;
				  overflow: hidden;
				  background-color: white ;
				}

				li {
				  float: left;
				}

				li a {
				  display: block;
				  color: #333;
				  text-align: center;
				  padding: 14px 16px;
				  text-decoration: none;
				}

				li a:hover:not(.active) {
				  background-color: #6EC902;
				}

				.active {
				  background-color: #4CAF50;
				}
			 #h1, #h2, #footer {
				background-color: white ;
				padding: 0.5em 0;}
			#feature, .article {
				height: 70em;
				float: left;
				margin: 2%;
				width: 95%;
				background-color: white;}